.autosearch {
    box-sizing: border-box;
    display: inline-block;
    margin: 30px;
}

.autosearch .banner{
    box-sizing: border-box;
    background-size: cover;
    height:75px;
    width:100%
}

.autosearch input{
    box-sizing: border-box;
    width:100%;
    padding: 10px
}

.autosearch ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px
}

.autosearch li {
    padding: 5px;
    cursor: pointer;
    padding: 10px
}

.autosearch li:hover {
    background-color: lightgray;
    font-weight: bold;
}

.autosearch .activeSuggestion {
    background-color: lightgray;
    font-weight: bold;
}
